.mainGrid {
  display: grid;
}

.guideLayout {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 2;
}

.contentLayout {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 3;
  display: grid;
}

.innerWrapper {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  row-gap: 1rem;
  padding: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr auto;
  }
}

.socialLink {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  padding: 0 1rem 0 0;
  color: var(--text1);

  &:hover {
    opacity: 1;
  }

  @media (min-width: 768px) {
    padding: 0 0 0 1rem;
  }
}
