.innerWrapper {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  row-gap: 1rem;
  padding: 8rem 0;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    padding: 10rem 0;
  }
}

.caption,
.title,
.byline {
  padding: 0 1rem;
}

.caption,
.title {
  @media (min-width: 1024px) {
    grid-column: 1 / 5;
  }
}

.byline {
  @media (min-width: 1024px) {
    grid-column: 1 / 4;
  }
}
