.innerWrapper {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  row-gap: 16px;
  padding: 100px 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    padding: 100px 0;
  }
}

.quote,
.byline {
  padding: 0 16px;
}

.quote {
  position: relative;
  // grid-column: 1 / 4;
  padding: 0 16px 0 32px;

  @media (min-width: 768px) {
    grid-column: 1 / 3;
  }

  @media (min-width: 1024px) {
    grid-column: 1 / 5;
  }
}

.openQuote {
  position: absolute;
  z-index: -1;
  top: 36px;
  left: 16px;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight-medium);
  font-size: 8.5rem;
  color: var(--secondary);

  @media (min-width: 1024px) {
    top: 50px;
    left: 16px;
    font-size: 10rem;
  }
}

.byline {
  padding: 0 16px;

  @media (min-width: 768px) {
    grid-column: 2 / 3;
  }

  @media (min-width: 1024px) {
    grid-column: 3 / 5;
  }
}
