@import './reset-css.css';
@import './_global-variables.css';

html,
body {
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight-book);
  font-size: var(--font-size-ms);
  font-style: normal;
  line-height: 180%;
  letter-spacing: 0.03rem;
  color: var(--text1);
  -webkit-font-smoothing: antialiased;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}
