@import './reset-css.css';
@import './_global-variables.css';

:root {
  font-size: 16px;
}

html,
body,
p {
  font-family: var(--tertiary-font-family);
  font-weight: var(--tertiary-font-weight-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  line-height: 180%;
  letter-spacing: 0.03rem;
  color: var(--text1);
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: var(--tertiary-font-weight-bold);
}
