.innerWrapper {
  grid-area: 1 / 2 / 2 / 3;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.headingWrapper {
  display: grid;
  row-gap: 0.5rem;
  padding: 0 1rem;

  @media (min-width: 1024px) {
    grid-column: 1 / 5;
  }
}

.projectWrapper {
  margin-top: 4rem;
}

.imagePlaceholder {
  width: 100%;
}

.descriptionWrapper {
  display: grid;
  row-gap: 0.5rem;
  padding: 3rem 1rem 0;

  @media (min-width: 1024px) {
    grid-column: 1 / 4;
  }
}

.descriptionCaption {
  display: flex;
}

.viewPageLink {
  transition: all 0.3s ease-in-out;
  padding: 0 0.25rem;
  color: var(--primary);

  &:hover {
    transform: translate(4px, -4px);
  }
}

.descriptionLink {
  position: relative;
  width: fit-content;
  color: var(--secondary);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    height: 2px;
    width: 0;
    background-color: var(--secondary);
  }

  &:hover::after {
    width: 100%;
  }
}
